* {
    margin: 0;
    padding: 0;
}

a{
    color: white;
    text-decoration: none;
}

body {
    background: #1E272E;
    --rainbow: linear-gradient(90deg, #FFAAD3, #FF9D7A, #FFDE69, #A4E8A3, #8AE6FB, #E2D4FF);
}

footer, footer a{
    color: white;
    justify-self: end;
    margin-right: 1em;
    margin-top: auto;
    padding-bottom: 2em;
}

.info{
    display: grid;
}

.name,
.🧾 {
    font-family: 'Zen Dots', sans-serif;
    text-transform: uppercase;
    color: white;
    text-align: end;
    margin-right: 1em;
    margin-bottom: 2rem;
    padding-top: 0.5em;
    transition: 0.5s;
    cursor: pointer;
}

.🧾 {
    font-size: 1.5em;
}

.🧾 > a > h2 {
    margin-bottom: 1em;
    transition: 0.5s ease-out;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-color: transparent;
}

.🧾 > a > h2:hover{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    letter-spacing: 0.06em;
}

@supports (-webkit-background-clip: text) {
    .🧾 > a > h2:hover{
        -webkit-text-fill-color: #1E272E;
        -webkit-background-clip: text;
        background-image: var(--rainbow);
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: transparent;
    }
}

.name {
    font-size: 3em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.name:hover{
    -webkit-text-fill-color: white;
    -webkit-text-stroke-color: transparent;
}

.App {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gradient, .content{
    border-radius: 1em;
}

.gradient {
    background: linear-gradient(122.3deg, rgba(111, 71, 133, 1) 14.6%, rgba(232, 129, 166, 1) 29.6%, rgba(237, 237, 183, 1) 42.1%, rgba(244, 166, 215, 1) 56.7%, rgba(154, 219, 232, 1) 68.7%, rgba(238, 226, 159, 1) 84.8%);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
    min-height: 96vh;
    margin: 2vh 2vh 2vh 0;
}

.content{
    background: #ecf0f1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content .text{
    margin: 3rem;
}
.content .text h3{
    font-size: 2em;
    font-family: 'Space Grotesk', sans-serif;
    margin-bottom: 2em;
}
.highlight {
    font-size: 1.3em;
}

.content .text p{
    font-size: 1.5em;
    margin-bottom: 1em;
    line-height: 1.5;
}

.links a{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.3em;
    text-decoration: none;
}
.links a:visited{
    color: black;
}

.tech strong{
    font-family: 'Space Grotesk', sans-serif;
}

.interests a{
    text-decoration: none;
    font-family: 'Space Grotesk', sans-serif;
    color: #1ED760;
}

.interests iframe{
    margin-bottom: 2em;
}

.nomargin{
    margin: 0;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@media (prefers-reduced-motion: reduce) {
    .gradient {
        animation: none;
    }
    .🧾>h2 {
        transition: none;
        letter-spacing: normal;
    }
}
